apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: kafka-connector
objects:
- apiVersion: kafka.strimzi.io/v1beta2
  kind: KafkaConnector
  metadata:
    name: hbi-outbox-connector
    labels:
      strimzi.io/cluster: ${KAFKA_CONNECT_INSTANCE}
  spec:
    state: stopped
    class: io.debezium.connector.postgresql.PostgresConnector
    tasksMax: ${{MAX_TASKS}}
    config:
      slot.name: debezium_outbox
      snapshot.mode: "no_data"
      database.server.name: host-inventory-db
      database.dbname: ${secrets:host-inventory-db:db.name}
      database.hostname: ${secrets:host-inventory-db:db.host}
      database.port: ${secrets:host-inventory-db:db.port}
      database.user: ${secrets:host-inventory-db:db.user}
      database.password: ${secrets:host-inventory-db:db.password}
      topic.prefix: host-inventory
      table.whitelist: hbi.outbox
      table.include.list: hbi.outbox
      transforms: outbox
      transforms.outbox.type: io.debezium.transforms.outbox.EventRouter
      transforms.outbox.table.fields.additional.placement: event_type:header:operation
      transforms.outbox.table.expand.json.payload: true
      value.converter: org.apache.kafka.connect.json.JsonConverter
      plugin.name: pgoutput
      heartbeat.interval.ms: ${DEBEZIUM_HEARTBEAT_INTERVAL_MS}
      heartbeat.action.query: ${DEBEZIUM_ACTION_QUERY}
      topic.heartbeat.prefix: ${TOPIC_HEARTBEAT_PREFIX}
      poll.interval.ms: ${DEBEZIUM_POLL_INTERVAL_MS}
parameters:
- name: KAFKA_CONNECT_INSTANCE
  value: kessel-kafka-connect
  description: Name of the target Kafka Connect instance for Connector
- name: MAX_TASKS
  value: "1"
  description: How many tasks the Kafka Connect instance can create to process this Connector's work
- name: TOPIC_HEARTBEAT_PREFIX
  value: debezium-heartbeat
  description: Prefix for the connector heartbeat topic
- name: DEBEZIUM_ACTION_QUERY
  value: "SELECT pg_logical_emit_message(false, 'heartbeat', now()::varchar);"
  description: Query action that runs for each heartbeat event
- name: DEBEZIUM_HEARTBEAT_INTERVAL_MS
  value: "300000"
  description: The interval for the Debezium heartbeat in ms
- name: DEBEZIUM_POLL_INTERVAL_MS
  value: "250"
  description: The interval for the Debezium batch processing
